{include file="../Common/header.html"}
<script type="text/javascript">
<!--

//-->
</script>


<span id="info">test</span>


<script>
	/* eagle.loadJs(['http://localhost/note/eagle/static/js/test.js','http://localhost/note/eagle/static/js/test2.js','http://libs.baidu.com/jquery/2.0.0/jquery.min.js'],function(){
		console.log(test2());
	}); */
		
	/* eagle.loadJs('http://localhost/note/eagle/static/js/test.js',function(){
		console.log(test());
	}); */
	
	document.getElementById('info').onclick = function(){
		/* eagle.ajaxPost({
			url : 'http://eagle.test/index.php?r=home&c=index&a=ajax',
			data :{
					name : 'jack',
					age : 20
			},
			//data :'name=132',
			success: function(res){
				console.log(res);
			}
		});
		 */
		/* eagle.ajaxGet({
			url : 'http://eagle.test/index.php?r=home&c=index&a=ajax',
			data :{
					name : 'jack',
					age : 20
			},
			//data :'name=132',
			success: function(res){
				console.log(res);
			}
		});	 */
		
		
	};

</script>

</body>
</html>