<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteRule ^(.*)\.(js|css|jpg|jpeg|gif|ttf|html|htm)(.*)$ $1\.$2$3  [NC,QSA,L]
	RewriteRule ^(.*)/(.*)/(.*)$ index.php?r=$1&c=$2&a=$3  [NC,QSA,L]

	#RewriteRule ^(.*)/(.*)$ index.php?r=home&c=$1&a=$2  [NC,QSA,L]
	#RewriteRule ^(.*)/(.*)$ index.php?r=$1&c=$2&a=index  [NC,QSA]
	#RewriteRule ^(.*)$ index.php?r=$1&c=Index&a=index  [NC,QSA]
	
	#RewriteCond %{REQUEST_FILENAME} !-d
	#RewriteCond %{REQUEST_FILENAME} !-f
	#RewriteRule ^(.*)$ /404.html  [NC,L]
	#RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>